In [2]:
# Q1. Create one variable containing following type of data:

# (i)	string

# (ii)	list

# (iii)	float

# (iv)	tuple 


# Answer 
s = 'I am Ali Abbas'

l = [1, 24, 165, -16, 26.2, 'ali', True, 0, 'Abbas', False]  

f = 19.99

t = (0, 1, 'Ali', -5, 3.5, True)

In [3]:
# Q2. Given are some following variables containing data:

# (i)	var1 = ‘ ‘

# (ii)	var2 = ‘[ DS , ML , Python]’

# (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

# (iv)	var4 = 1.

# Answer
var1 = ''   # strng
type(var1)

str

In [5]:
var2 = '[ DS , ML , Python]'  # string
type(var2)

str

In [6]:
var3 = [ 'DS' , 'ML' , 'Python' ]   # list
type(var3)

list

In [7]:
var4 = 1     # integer
type(var4)

int

In [8]:
# Q3. Explain the use of the following operators using an example:

# (i)	/

# (ii)	% 

# (iii)	//

# (iv)	**

In [9]:
4/2      # this gives the value in floating point

2.0

In [10]:
5%3      # this gives the remainder

2

In [11]:
4//2      # this gives the value in integer

2

In [12]:
3**2      # this gives the exponential value

9

In [13]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

# Answer

l = [1, 24, 16.5, -16, 'ali', True, 0, 'Abbas', False, 29+6j] 
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
24
<class 'int'>
16.5
<class 'float'>
-16
<class 'int'>
ali
<class 'str'>
True
<class 'bool'>
0
<class 'int'>
Abbas
<class 'str'>
False
<class 'bool'>
(29+6j)
<class 'complex'>

In [14]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# Answer

A = int(input('Enter A: '))
B = int(input('Enter B: '))

while A % B == 0:
    count = A // B
    print(f'{A} is divisible by {B} exactly {count} times.') 
    break
else:
    print(f'{A} is not divisble by {B}.')

Enter A:  10
Enter B:  2

10 is divisible by 2 exactly 5 times.

In [15]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

# Answer
a = list(range(25))

for i in a :
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Mutable: it means we can change the elements. example is list. that is we can change the elements inside the list. so, list is mutable.
l = [1, 24, 16.5, -16, 'ali', True, 0, 'Abbas', False, 29+6j] 

l[1]= 'changing'

l