### Q1. What is a database? Differentiate between SQL and NoSQL databases.

* Database:
A database is a structured collection of data which is organized and stored in a way that makes it easy to manage, retrieve and update. We can manipulate database by using query languages. Databases are widely used in various applications, ranging from simple applications to large-scale systems, to store and manage data efficiently.

* Difference between SQL and NoSQL databases:

1. SQL databases have a fixed schema, while NoSQL databases are schema-less or have a flexible schema.

2. SQL databases use the SQL query language for defining and manipulating data.
While NoSQL databases may use different query languages, often specific to the database type (e.g., MongoDB uses a JavaScript-like query language).

3. SQL databases typically scale vertically, while NoSQL databases scale horizontally.

4. SQL databases are suitable for applications with complex queries and where data integrity is crucial (e.g., banking systems).
While NoSQL databases are suitable for applications with large amounts of unstructured or semi-structured data, such as social media, content management, and real-time analytics.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL(Data Definition Language): DDL is a subset of SQL used for defining and managing the structure of a relational database. DDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, and views. The main DDL statements include `CREATE`, `DROP`, `ALTER`, and `TRUNCATE`.

##### 1. CREATE:

The `CREATE` statement is used to create new database objects. Commonly, it is used for creating tables, indexes, views, and other database structures.

**Example - Creating a Table:**
```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    salary DECIMAL(10, 2)
);
```

##### 2. DROP:

The `DROP` statement is used to delete existing database objects. It removes the entire structure and data associated with the object.

**Example - Dropping a Table:**
```sql
DROP TABLE employees;
```

##### 3. ALTER:

The `ALTER` statement is used to modify the structure of an existing database object, such as adding or deleting columns from a table.

**Example - Adding a Column to a Table:**
```sql
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);
```

##### 4. TRUNCATE:

The `TRUNCATE` statement is used to remove all rows from a table quickly, but it retains the structure of the table for future use.

**Example - Truncating a Table:**
```sql
TRUNCATE TABLE employees;
```

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML(Data Manipulation Language): DML is a subset of SQL used for manipulating data stored in a relational database. DML statements primarily include `INSERT`, `UPDATE`, and `DELETE`, and they are responsible for adding, modifying, and deleting data within database tables.

##### 1. INSERT:

The `INSERT` statement is used to add new records (rows) into a table.

**Example - Inserting Data into a Table:**
```sql
INSERT INTO employees (id, name, salary)
VALUES (1, 'John Doe', 50000);
```

##### 2. UPDATE:

The `UPDATE` statement is used to modify existing records in a table.

**Example - Updating Data in a Table:**
```sql
UPDATE employees
SET salary = 55000
WHERE id = 1;
```

##### 3. DELETE:

The `DELETE` statement is used to remove records from a table based on specified conditions.

**Example - Deleting Data from a Table:**
```sql
DELETE FROM employees
WHERE id = 1;
```

### Q4. What is DQL? Explain SELECT with an example.

* DQL(Data Query Language) DQL is a subset of SQL used for querying and retrieving data from a relational database. The primary DQL statement is `SELECT`, which allows you to retrieve specific data or a subset of data from one or more tables.

#### SELECT Statement:

The `SELECT` statement is used to query a database and retrieve data based on specified criteria. It can be used to retrieve all rows and columns from a table or to filter the result set based on specific conditions.

##### Basic SELECT Syntax:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```
```python

```
**Example - Selecting All Columns from a Table:**
```sql
SELECT *
FROM employees;
```
In this example, all columns from the "employees" table will be retrieved.
```python

```
**Example - Selecting Specific Columns with a Condition:**
```sql
SELECT id, name, salary
FROM employees
WHERE salary > 50000;
```
This example retrieves the `id`, `name`, and `salary` columns from the "employees" table for rows where the salary is greater than 50000.
```python

```
**Example - Aggregate Functions and Grouping:**
```sql
SELECT department, AVG(salary) as average_salary
FROM employees
GROUP BY department;
```
This example calculates the average salary for each department in the "employees" table using the `AVG` aggregate function and grouping by the `department` column.
```python

```
**Example - Joining Tables:**
```sql
SELECT employees.id, employees.name, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.id;
```
This example performs an inner join between the "employees" and "departments" tables based on the `department_id` and `id` columns, respectively.

### Q5. Explain Primary Key and Foreign Key.

**Primary Key:**
A primary key is a unique identifier for a record in a database table. It uniquely identifies each row and ensures the integrity and uniqueness of the data. Here are key characteristics of a primary key:

1. **Uniqueness:** Each value in the primary key column must be unique across the entire table. No two rows can have the same primary key value.

2. **Non-null:** The primary key column cannot contain null values. Every row must have a valid, non-null primary key.

3. **Index:** Primary keys are often automatically indexed by the database management system (DBMS) to optimize search and retrieval operations.

4. **Immutable:** The values in the primary key should ideally be immutable, meaning they should not change over time. This ensures stability in the identification of records.

**Example:**
```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(255),
    department_id INT
);
```

In this example, `employee_id` is the primary key for the "employees" table.
```python

```
**Foreign Key:**
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between the two tables, creating a relationship. Key points about foreign keys:

1. **Referential Integrity:** A foreign key enforces referential integrity by ensuring that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

2. **Relationships:** Foreign keys define relationships between tables. For example, in a relational database, an "orders" table might have a foreign key that references the primary key of a "customers" table.

3. **Cascade Actions:** Foreign keys can be configured with cascade actions such as `CASCADE DELETE` or `CASCADE UPDATE`. If a referenced record is deleted or updated, the corresponding action is automatically applied to related records.

**Example:**
```sql
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
```

In this example, `customer_id` in the "orders" table is a foreign key that references the primary key `customer_id` in the "customers" table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
# To connect Python to MySQL, you can use the `mysql-connector` library, which provides a MySQL driver for Python. 
import mysql.connector

# Establishes a connection to the MySQL server using the provided database configuration.
mydb = mysql.connector.connect(host="localhost", user="root", password="aliabbas")   

# Create a cursor object to interact with the database
mycursor = mydb.cursor()  

# Execute a SQL query
mycursor.execute("SHOW DATABASES")

# Fetch the result
for x in mycursor.fetchall():
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

* The `execute()` method is used to execute a SQL query or command. It takes a SQL string as an argument and sends it to the MySQL server for execution. The result of the query can then be fetched using methods like `fetchall()`.

* The `cursor()` method is used to create a cursor object. The cursor is a control structure that enables traversal over the records in a database. It allows you to execute SQL queries and fetch results.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows the sequence listed below. It's important to note that not all clauses are mandatory in every SQL statement, and their presence or absence depends on the specific query being executed.

1. **SELECT:**
   - The `SELECT` clause specifies the columns that should be included in the result set.

2. **FROM:**
   - The `FROM` clause specifies the table or tables from which the data should be retrieved.

3. **WHERE:**
   - The `WHERE` clause filters the rows based on a specified condition or conditions. It is used to extract only the rows that satisfy the given criteria.

4. **GROUP BY:**
   - The `GROUP BY` clause is used to group rows that have the same values in specified columns into summary rows, like those returned by aggregate functions.

5. **HAVING:**
   - The `HAVING` clause filters the result set after the `GROUP BY` clause has been applied. It is used to filter the groups based on aggregate conditions.

6. **ORDER BY:**
   - The `ORDER BY` clause sorts the result set based on one or more columns. It can be used to sort in ascending (`ASC`) or descending (`DESC`) order.

7. **LIMIT:**
   - The `LIMIT` clause restricts the number of rows returned by the query to a specified range. It is commonly used for pagination or to limit the result set.

8. **OFFSET:**
   - The `OFFSET` clause, often used in conjunction with `LIMIT`, specifies the number of rows to skip before starting to return rows.

Below is a simple example of a SELECT statement with the typical order of clauses:

```sql
SELECT column1, column2
FROM your_table
WHERE condition
GROUP BY column1
HAVING aggregate_condition
ORDER BY column1 ASC
LIMIT 10
OFFSET 5;
```